<nav th:fragment="navbarFragment" class="navbar bg-body-tertiary fixed-top">
	<div class="container-fluid">

		<button style="position: absolute; right:0px; top: 10px;" class="navbar-toggler" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header" aria-current="page">
				<h5 class="offcanvas-title" id="offcanvasNavbarLabel">MENU</h5>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

					<a class="nav-link active" aria-current="page" th:href="@{/project/home}">
						<img src="/img/icon_home.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_home">
						Home
					</a>

					<hr>

					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="/img/icon_user.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_user">
						User
					</a>
					<ul class="dropdown-menu">
						<a class="dropdown-item" aria-current="page" th:href="@{/project/formLogin}"sec:authorize="isAnonymous()">
							<img src="/img/icon_login.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_login">
							로그인
						</a>
						<a class="dropdown-item" aria-current="page" th:href="@{/project/signup}" sec:authorize="isAnonymous()">
							<img src="/img/icon_signin.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_signin">
							회원가입
						</a>
						<a class="dropdown-item" aria-current="page" th:href="@{/project/mypage}" sec:authorize="isAuthenticated()">
							<img src="/img/icon_mypage.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_mypage">
							마이페이지
						</a>
						<a class="dropdown-item" aria-current="page" href="/user/logout" sec:authorize="isAuthenticated()">
							<img src="/img/icon_logout.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_logout">
							로그아웃
						</a>
					</ul>

					<hr>
				
					<a class="nav-link" aria-current="page" href="/board/list">
						<img src="/img/icon_board.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_board">
						BOARD
					</a>

					<hr sec:authorize="isAuthenticated()">

					<a class="nav-link active" aria-current="page" th:href="@{/myMentoring}" sec:authorize="isAuthenticated()">
						<img src="/img/icon_chatting.jpg" style="max-width: 10%; max-height: 10%;" alt="icon_chatting">
						CHATTING
					</a>

					<hr>

					<a class="nav-link active" aria-current="page" href="https://www.google.com/maps">
						<img src="/img/Logo_Google_Maps.png" style="max-width: 50%; max-height: 50%;" alt="GOOGLEMAPS">
					</a>

					<hr>

					<a a class="nav-link active" aria-current="page" href="https://www.skyscanner.net/">
						<img src="/img/Logo_Skyscanner.png" style="max-width: 50%; max-height: 50%;" alt="SKYSCANNER">
					</a>
					
					<hr>
				</ul>
			</div>
		</div>
	</div>
</nav>